@font-face {
	font-family: "HankenGrotesk";
	src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

@font-face {
	font-family: "HankenGroteskBold";
	src: url("../assets/fonts/static/HankenGrotesk-Bold.ttf");
}

@font-face {
	font-family: "HankenGroteskExtraBold";
	src: url("../assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@font-face {
	font-family: "HankenGroteskMedium";
	src: url("../assets/fonts/static/HankenGrotesk-Medium.ttf");
}
